*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    $header: (
        letter: #ffb4a2,
        fondo: #e5989b,
    );

    $color-icono: #ffcdb2;

/*----------HERO SECTION---------*/

.herosec{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(82, 31, 177);
        height: 40vw;
        font-size: 3vw;
        background-image: url(../img/fondo.jpg);
        background-size: cover;
        border: dotted 1px #6d6875;
        &_amor{
            font-size: 3vw;
        }
        &:hover{
            text-decoration: underline;
        }
        &__sec{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            height: 30vw;
            background-image: url(../img/fondo2.jpg);
            background-size: cover;
            border: dotted 1px #6d6875;
        &:hover{
            text-decoration: underline;
            background-image: url(../img/fondo3.jpg);
            color: #6d6875;
            transition-duration: 2s;
        }
        &__titule{
            font-size: 5vw;
        }
        }
    }


/*----------INDEX---------*/
.index__serv{
    display: flex;
    flex-direction: column;
}

.index{
    display: grid;
    height: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    background-color: #e5989b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-template-areas: 
    "servicios servicios"
    "posts tipsemana";
    @media (max-width: 760px) {
        display: block;
    }
    &__img{
        object-fit: cover;
        transition: 0.5s;
        width: 30vw;
        height: 30vw;
        margin-top: 80px;
        margin-bottom: 30px;
        box-shadow: 10px 10px 10px black;
        &:hover{
            transform: scale(1.7);
            transition-duration: 1.5s;
        }
    }
    &__serv{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: servicios;
        color: white;
        font-size: 30px;
    }
    &__posts{
        @extend .index__serv;
        align-items: center;
        grid-area: posts;
        color: white;
        font-size: 30px;
    }
    &__tips{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: tipsemana;
        color: white;
        font-size: 30px;
    }
    &__vermas{
        color: whitesmoke;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.7);
            color: #ffcdb2;
        }
    }
    &__vermas2{
        font-size: 15px;
    }
    
}

/*------SERVICIOS-------*/

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media (max-width: 760px) {
        display: block;
    }
    &__tipo{
        @include flex-center();
        margin: 20px;
        border: solid 1px;
        border-style: outset;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.534);
    }
    &__titule{
        color: #ffcdb2;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    &__img{
        width: 100px;
        height: 100px;
    }
    &__text{
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    &__boton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 130px;
        color: #6d6875;
        text-decoration: none;
        border: solid 1px #6d6875;
        border-radius: 50%;
        margin-bottom: 10px;
        &__text{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
        &:hover{
            background-color: #b5838d;
            color: white;
        }
    }
}

/*------POSTS-------*/

.videos{
    margin: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    &__titule{
        text-align: center;
        color: #b5838d;
        font-size: 7vw;
        &:hover{
            color: #ffcdb2;
        }
    }
    &_ej{
        height: 40vw;
    }   
}

/*---------TIPSEMANAL----------*/

.tips{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

    justify-content: center;
    justify-items: center;
    gap: 10vw;
    margin: 10vw;
    @media (max-width: 760px) {
        display: block;
    }
    &__tipo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        gap: 5vw;
        &:hover{
            transform: scale(1.7);
            transition-duration: 3s;
        }
    }
    &__img{
        width: 20vw;
        height: 20vw;
        transition: 0.5s;
       
    }
    &__titule{
        display: flex;
        justify-content: center;
        justify-items: center;
        height: 7vw;
        width: 30vw;
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.336);
        font-style: italic;
        font-size: 4vw;
        color:#b5838d;
        border-radius: 50%;
        text-align: center;
    }
}


/*-------------*/

@import "./layout/header";
@import "./layout/forms";
@import "./layout/footer";
@import "./components/carousel";