/*------POSTS-------*/

.carousel{
    display: flex;
    margin: 5vw;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    &-caption{
    color: #6d6875;
    text-align: center;
    }
    &-img{
    height: 50vw;
    }
}